    body{
        font: Tahoma,Helvetica,Arial,'宋体',sans-serif;
    }
    
    .timeSlider{
		padding: 0;
		margin: 0;
		border:0;
		display: block;
		z-index: 0;
		margin-left:100px;
		position:relative;
        height:47px;
	}
	
	.timeSliderDiv{
		height:20px;
		z-index:4;
		top:0;
		position:absolute;
        border-left:1px solid #000;
		background:#007acc;
        box-sizing:border-box;
	}
	
	.trCanvas{
		width: 720px;
		height: 20px;
		background: #f2f2ee;
		position: relative;
	}
	
	.fixBGDiv{
		position:fixed;
		left:0;
		right:0;
		bottom:0;
		top:0;
		z-index:999;
		background-color:#e4e4e4;
		display:none;
		filter:progid:DXImageTransform.Microsoft.Alpha(opacity=40);
		opacity:0.4;
	}
	
	.modal{
		position:fixed;
		left:0;
		right:0;
		bottom:0;
		top:0;
		z-index:1000;
		display:none;
	}
	
	.modal-dialog{
		position:relative;
		width:400px;
		margin:150px auto;
	}
	
	.modal-content{
		position:relative;
		background-color:#f8f5f5;
		background-clip:padding-box;
		border:1px solid #d4d4d4;
		border-radius:6px;
		outline:none;
		box-shadow:0 3px 9px rgba(0,0,0,0.5);
	}

	.modal-header{
		min-height:16px;
		padding:15px;
		border-bottom:1px solid #e5e5e5;
	}
	
	.modal-title{
		margin:0;
		line-height:1.42px;
	}
	
	.modal-body{
		position:relative;
		padding:20px;
	}
	
	
	.modal-footer{
		padding :19px 20px 20px;
		text-align:right;
		margin-top:5px;
		border-top:1px solid #e5e5e5;
	}
	
    .btn{
		font-size:14px;
		line-height:1.427;
		height:40px;
		width:80px;
		text-align:center;
		border:1px solid #d8d8d8;
		margin:2px;
		border-radius:5px;
	}
	
    .btn:hover{
		background-color:#e4e4e4;
        cursor:pointer;
	}
    
	.time-div{
		margin:10px;
	}
	
   
	.time-input{
		width:25px;
		margin:5px;
        text-align:center;
	}
    
    .time-lab{
        display:inline-block;
        width:80px;
        *zoom:1;
        *display:inline;
    }
    
    .event-div{
        margin:10px;
    }
    
    .event-select{
        margin-left:20px;
    }
    
    
	.coordinate {
		width:1px;
		height:4px;
		background-color:black;
		position:absolute;
		z-index:-1;
	}
	
	.coordinateLabDiv{
		width:20px;
		margin-left:-3px;
		top:22px;
		position:absolute;
		z-index:-1;
        font-size:14px;
	}
	
	
	.startTimeBar{
		position:absolute;
		left:-19px;
		border:10px solid transparent;
        border-right:8px solid #aaa;
        display:none;
	}
	
	.stopTimeBar{
		position:absolute;
		right:-18px;
		border:10px solid transparent;
        border-left:8px solid #aaa;
        display:none;
	}
	
    .stopTimeBar:hover,.startTimeBar:hover{
        cursor:e-resize;
    }
    
	.startTimeShow{
		background-color:#0084FF;
		color:white;
		padding-left:3px;
		width:44px;
		height:18px;
		position:absolute;
		left:-44px;
		top:28px;
		text-align:center;
		line-height:18px;
		font-size:.8em;
        display:none;
	}
	
	.stopTimeShow{
		background-color:#0084FF;
		color:white;
		padding-left:3px;
		width:44px;
		height:18px;
		position:absolute;
		top:28px;
        right:-44px;
		text-align:center;
		line-height:18px;
		font-size:.8em;
        display:none;
	}
	
	
    
	.label-event{
		float:left;
		margin-left:20px;
	}
   
    .label-week{
		float:left;
		margin-left:20px;
	}
    
	
	.editWrap{
		position:relative;
		width:100px;
		left:850px;
		bottom:45px;
	}
	
	.editContent{
		width:180px;
		position:absolute;
		left:0;
		top:0;
		display:none;
		background-color:#f9f6f6;
		border:1px solid #e4e4e4;
        border-radius:5px;
		z-index:5;
	}
	
	.editHeader{
		min-height:16px;
		padding:5px;
		border-bottom:1px solid #e5e5e5;
	}
	
    .editHeaderTitle{
        font-weight:bold;
    }
    
	.editBody{
		position:relative;
		padding:10px;
	}
    
    .editUnit{
        display:inline-block;
        width:80px;
        *zoom:1;
        *display:inline;
    }
	
	.editFotter{
		padding :10px;
		text-align:right;
		margin-top:5px;
		border-top:1px solid #e5e5e5;
	}
	
	.delImg{
        margin-left:10px;
	}
	
	.editBtn:hover,.editImg:hover,.delImg:hover{
		cursor:pointer; 
	}
	
	.editBtn{
		font-size:14px;
		width:55px;
        height: 30px;
		text-align:center;
		margin:2px;
        background-repeat: no-repeat;
        border:0;
        border-radius:5px;
        padding: 0;
	}
    
    .editBtn:hover{
        background-color:#ccc;
    }
	
    .eventBoxWrap{
        position:relative;
        width:600px;
        margin:auto;
        padding-bottom:40px;
        overflow:hidden;
    }
    
    .eventBox{
        width:20px;
        height:20px;
        float:left;
        margin:1px;
    }
    
    .eventSelect{
        margin-left:10px;
        width:80px;
    }